@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');
html {
  height: 100%;
  width: cover;
  min-height: 100%;
}
button.name {
  color: white;
  text-align: left;
  background-color: #1A2930; 
  border: none;
  width: 100%;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto minmax(40px,40px);
  height: cover;
}

.App-header {
  background-color: #0A1612;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;

}

.App-header > h1 {
  margin: 0;
  letter-spacing: 7px;
  font-size: 1.5em;
}

.App-header > h3 {
  margin: 0;
  padding-top: 10px;
  letter-spacing: 5px;
  font-style: italic;
  font-size: 1em;

}
.input {
	grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #F7CE3E;
	padding: 0;
  min-height: 40px;
  border: 0;
}

#map {
  height: 100%;
}
.map-container {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  color: black;
}

.sidebar {
  padding-top: 5%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #1A2930;
  height: 100%;
  color: white;
  list-style-type: none;   
  min-height: 960px;
  max-height: 960px;
  overflow-y: auto;
}
.sidebar.list {
  list-style-type: none;
}
.hiddenInfo {
  visibility: hidden;
}
.visibleMenu {
 grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  color: white;
  background-color: #1A2930;
  z-index: 10;
  /*margin-left: 10px;*/
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  height: 100%;
  max-height: 960px;
  min-height: 960px;
  overflow-y: scroll;
}
.tips {
  font-style: italic;
}
.name {
  height: 30px;
  font-size: 0.6em;
  text-align: left;
  padding-left: 2%;
}
.element > p {
  margin: 0; 
}
.name:hover {
  cursor: pointer;
}
.closingButton {
  border: 0;
  color: white;
  background-color: transparent;
  font-family: 'Josefin Sans', sans-serif;
}

.closingButton:hover {
  cursor: pointer;

}
.images {
  width: 60%;
  height: 60%;
}
.collapsed-sidebar {
  display: none;
}

@media screen and (max-width: 600px) {
  html {
    height: 100%;
  }
  .App {
    display: flex;
    flex-direction: column;
  }
  #map {
    height: 500px;
  }
  .sidebar {
    display: none;
  }
  .collapsed-sidebar {
    display: block;
    background-color: #F7CE3E;
    font-family: 'Josefin Sans', sans-serif;
    
  }
  .sidebar-open {
    display: block;
    padding-top: 5%;
    background-color: #1A2930;
    color: white;
    list-style-type: none;
  }

  .visibleMenu {
    position: fixed;
    left: 0;
    right: 0;
    min-height: 100px;
    max-height: 200px;
    top: 30%;
    z-index: 20;
    overflow-y: auto;
    background-color: #F7CE3E;
    color:  #1A2930; 
  }
  .closingButton {
    color:  #1A2930;
  }
}