.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr)

}

.App-header {
  background-color: #282c34;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.input {
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 2;
  	grid-row-end: 3;
  	color: white;
	background-color: grey;
	padding: 0;
}
.list {
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 3;
  	grid-row-end: 6;
	
	height: 700px;
	color: white;
	background-color: grey;
	text-align: left;

}
ul {
	list-style-type: none;
}
.map-container {
	grid-column-start: 2;
  	grid-column-end: 6;
  	grid-row-start: 2;
  	grid-row-end: 6;

}
.marker:hover {
	color: green;
}


